{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <script>
        function copyEmail() {
            const emailText = document.getElementById('email-text').innerText;
            navigator.clipboard.writeText(emailText).then(function() {
                showFlashMessage("The email address has been copied.");
            }, function(err) {
                console.error('Could not copy text: ', err);
            });
        }

        function showFlashMessage(message) {
            const flashMessage = document.createElement('div');
            flashMessage.className = 'flash-message';
            flashMessage.textContent = message;
            document.body.appendChild(flashMessage);
            flashMessage.style.display = 'block';
            setTimeout(() => {
                flashMessage.style.display = 'none';
                document.body.removeChild(flashMessage);
            }, 3000);
        }
    </script>
</head>
<div class="about-container">
    <div class="about-description">
        <h2 class="about-header">About Me</h2>
        <p>{{ user.description }}</p>
        <div class="about-links">
            <a href="javascript:void(0);" class="about-link" onclick="copyEmail()">Email</a>
            <a href="{{ user.instagram_link }}" class="about-link" target="_blank">Instagram</a>
            <a href="{{ user.behance_link }}" class="about-link" target="_blank">Behance</a>
        </div>
        <span id="email-text" style="display:none;">{{ user.email }}</span>
    </div>
    {% if user.image %}
    <div class="about-avatar">
        <img src="{{ url_for('static', filename=user.image) }}" alt="{{ user.artist_name }}">
    </div>
    {% endif %}
</div>    
{% endblock %}
