{% extends "base.html" %} 
{% block title %}blog {{ blog.id }}{%endblock %} 
{% block content %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title or "Блог" }}</title>
    <style>
        .blog-image img {
            width: 100%; /* Подстраиваем изображение по ширине контейнера */
            max-width: 400px; /* Максимальная ширина изображения */
            height: auto; /* Высота автоматически изменяется, сохраняя пропорции */
        }
    </style>
</head>
<body>
    <div class="blog">
        <h1>{{ blog.title or "Без названия" }}</h1>
        {% if blog.image %}
            <div class="blog-image">
                <!-- Обновлённый путь к изображению, учитывающий новую структуру папок -->
                <img src="{{ url_for('static', filename='media/' + blog.image) }}" alt="Изображение проекта">
            </div>
        {% else %}
            <p>Изображение отсутствует.</p>
        {% endif %}
        <div class="project-description">
            <p>{{ blog.text or "Нет записи." }}</p>
        </div>
        <div>Дата публикации: {{ blog.pub_date }}</div>
    </div>
</body>
{% endblock %}