{% extends "base.html" %}
{% block title %}projects{% endblock %}
{% block content %}
<div class="filter-projects-container">
    <div class="filter">
        <h3 class="filter-label">Filter by tags:</h3>
        <form action="{{ url_for('index_view') }}" method="get">
            <select name="tag" onchange="this.form.submit()">
                <option value="all">Show all</option>
                {% for tag in tags %}
                <option value="{{ tag.name }}" {% if tag.name == current_tag %}selected{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="projects">
        {% for project in projects %}
        <div class="project">
            {% if project.images|length > 0 %}
            <a href="{{ url_for('project_view', id=project.id) }}">
                <img src="{{ url_for('static', filename=project.images[0].image_path) }}" alt="Project image">
                <div class="overlay">
                    {% if project.title %}
                    <div class="project-title-overlay">{{ project.title }}</div>
                    {% endif %}
                </div>
            </a>
            {% endif %}
            <div> {% for tag in project.tags %}<span>#{{ tag.name }} </span>{% endfor %}</div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Кнопка "Наверх" -->
<div id="scrollTopButton" class="scroll-top-button" onclick="scrollToTop()">
    &#8679; <!-- стрелка вверх -->
</div>
{% endblock %}
