{% extends "base.html" %}
{% block title %}project {{ project.id }}{% endblock %}
{% block content %}
<div class="project-container">
    {% if project.title %}
        <h1 class="project-title">{{ project.title }}</h1>
    {% endif %}
    {% if project.text %}
        <p class="project-text">{{ project.text }}</p>
    {% endif %}
    <div class="project-images">
        {% for image in project.images %}
            <div class="project-image">
                <img src="{{ url_for('static', filename=image.image_path) }}" alt="Project image">
            </div>
        {% endfor %}
    </div>
    <div class="tags">
        {% for tag in project.tags %}
            <span class="tag">#{{ tag.name }}</span>
        {% endfor %}
    </div>
</div>
<!-- Кнопка "Наверх" -->
<div id="scrollTopButton" class="scroll-top-button" onclick="scrollToTop()">
    &#8679; <!-- стрелка вверх -->
</div>
{% endblock %}
