{% extends 'base.html' %}
{% block title %} Создать новый блог {% endblock %}
{% block content %}
<body>
  <h1>Добавить запись в блог</h1>
  <form action="{{ url_for('add_blog') }}" method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <p>
          {{ form.title.label }}<br>
          {{ form.title(size=32) }}
      </p>
      <p>
          {{ form.image.label }}<br>
          {{ form.image() }}
      </p>
      <p>
          {{ form.text.label }}<br>
          {{ form.text(cols=40, rows=5) }}
      </p>
      <p>{{ form.submit() }}</p>
  </form>
</body>
{% endblock %}