{% extends "base.html" %}
{% block title %}all_blogs{% endblock %}
{% block content %}
<div class="blogs">
    {% for blog in blogs %}
    <div class="blog">
        <a href="{{ url_for('blog_view', id=blog.id) }}">
            {% if blog.images|length > 0 %}
            <img src="{{ url_for('static', filename=blog.images[0].image_path) }}" alt="Blog image">
            <div class="overlay">
                {% if blog.title %}
                <div class="blog-title-overlay">{{ blog.title }}</div>
                {% endif %}
            </div>
            {% elif blog.title %}
            <h2><a href="{{ url_for('blog_view', id=blog.id) }}" class="blog-title-link">{{ blog.title }}</a></h2>
            {% endif %}
        </a>
        <div>{{ blog.pub_date }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
