/* Стили для ссылок в header */
.header {
    background-color: #fff;
    position: auto;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.label-image {
    max-height: 80px;
    width: auto;
    margin-top: 40px;
    /*border: 2px solid red;*/ /*Рамка*/
}

.artist-name {
    font-size: 2rem;
    color: #000; /* Ваш цвет текста */
    /* font-weight: bold; Ваше начертание текста */
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 5px; /* Отступ между ссылками */
}

.nav-link {
    text-decoration: none;
    color: #000; /* Ваш цвет текста */
    font-size: 1rem;
    font-weight: bold; /* Ваше начертание текста */
}

.nav-link:hover {
    color: #000; /* Ваш цвет текста */
}

/* Новый стиль для активной ссылки */
.nav-link.active {
    text-decoration: underline;
    color: #000; /* Цвет текста активной ссылки, можно настроить */
}

/* Стили для надписи "Фильтр по тэгам:" */
.filter-label {
    font-size: 1rem; /* Уменьшенный размер шрифта */
    font-weight: normal; /* Не жирный шрифт */
    color: black; /* Светло-оранжевый цвет */
}

/* Стили для окна сортировки по тэгам */
.filter select {
    border: 2px solid black; /* Очень светлый оранжевый цвет для рамки */
    color: black; /* Светло-оранжевый текст */
    padding: 1px;
    font-size: 1rem;
    background-color: white; /* Белый фон */
    border-radius: 5px;
    outline: none;
}

/* Стили для окна сортировки по тэгам при фокусе */
.filter select:focus {
    border-color: black; /* Темно-оранжевая рамка при фокусе */
}

/* Стили для опций в выпадающем списке */
.filter select option {
    color: black; /* Цвет текста в опциях */
}

/* Стили для опций при наведении */
.filter select option:hover {
    background-color: #FFA500; /* Светло-оранжевый фон при наведении */
    color: white; /* Белый текст при наведении */
}

/* Стили для опций при выделении */
.filter select option:checked {
    background-color: rgb(68, 67, 67); /* Светло-оранжевый фон при выделении */
    color: white; /* Белый текст при выделении */
}

/* Общие стили для всех страниц */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Стили для контейнера фильтра и проектов */
.filter-projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Стили для фильтра */
.filter {
    align-self: flex-end; /* Выравниваем фильтр по правому краю */
    margin-bottom: 20px; /* Расстояние между фильтром и проектами */
}

/* Стили для проекта на главной странице */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Изменили на space-between */
    width: 100%; /* Занимать всю ширину контейнера */
    padding: 0 20px; /* Отступы слева и справа для выравнивания */
}

.project {
    width: calc(33.33% - 10px); /* Изменили ширину проекта */
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative; /* Для позиционирования overlay */
    overflow: hidden; /* Для скрытия части overlay, выходящей за пределы */
    text-align: center; /* Центровка текста внутри проекта */
}

.project img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: all 0.3s ease; /* Плавный переход для всех изменений */
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.8); /* Темно-темно-серый цвет с прозрачностью */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease; /* Плавный переход для прозрачности */
}

.project:hover .overlay {
    opacity: 1;
}

.project-title-overlay {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* Стили для страницы проекта */
.project-container {
    text-align: center;
    padding: 20px;
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.project-text {
    margin-bottom: 20px;
    font-size: 18px;
}

.project-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-image {
    margin-bottom: 20px;
}

.project-image img {
    max-width: 100%;
    max-height: 100vh; /* Set max height to viewport height */
    height: auto; /* Maintain aspect ratio */
}

.tags {
    text-align: center;
    margin-top: 20px;
}

/* Стили для страницы со всеми блогами */
.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.blog {
    width: 40%;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.blog img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: all 0.3s ease;
}

.blog .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.blog:hover .overlay {
    opacity: 1;
}

.blog-title-overlay {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.blog-title-link {
    text-decoration: none;
    color: black;
    transition: font-weight 0.3s ease, color 0.3s ease; /* добавлен переход для изменения цвета */
}

.blog-title-link:hover {
    font-weight: bold;
    color: black; /* цвет изменен на синий */
}

/* Стили для страницы блога */
.blog-image img {
    width: 100%; /* Подстраиваем изображение по ширине контейнера */
    max-width: 400px; /* Максимальная ширина изображения */
    height: auto; /* Высота автоматически изменяется, сохраняя пропорции */
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
}

footer p {
    color: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный цвет */
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.about-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: blue;
    margin: 20px 0;
}
.about-description {
    width: 45%;
    text-align: left;
}
.about-avatar {
    width: 45%;
    text-align: left;
    padding-left: 20px;
}
.about-avatar img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.about-links {
    margin-top: 10px;
}
.about-link {
    color: rgb(255, 115, 0);
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
.about-link:hover {
    color: rgb(228, 74, 3);
    text-decoration: none;
}
.flash-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f0ad4e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}